.App {
  text-align: center;
  text-size-adjust: auto;
}

.App-header {
  background-color: #5b5e64;
  min-height: 100vh;
  display: flex;
  flex-direction: row; /*was column*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

